// Fonts
$light: 100;
$regular: 300;
$bold: 500;

$base-font-family: 'Raleway';
$base-font-weight: $regular;
$base-font-size: 1em;

$header-font-family: 'Fontin Sans';
$header-font-weight: $regular;
$header-font-size: 4em;
