// Breakpoints
$mobile: max-width 767px;
$tablet: 768px;
$screen: 1280px;

// Fonts
$light: 100;
$regular: 300;
$bold: 500;

$base-font-family: 'Raleway';
$base-font-weight: $regular;

$header-font-family: 'Fontin Sans';
$header-font-weight: $regular;

$link-color: #1EAEDB;

// Navbar
$navbar-underline-transition-speed: .15s;
$navbar-bg-transition-speed: .25s;
$navbar-vertical-padding: 1.2em;
$navbar-horizontal-padding: 1em;
$navbar-bg-color: #fff;
$navbar-color: #555;
