/* line 1, ../sass/partials/_layout.scss */
body {
  margin: 0;
}

/* line 5, ../sass/partials/_layout.scss */
.pane {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: calc(100vh - 2 * 3em);
}
/* line 14, ../sass/partials/_layout.scss */
.pane > * {
  display: inline-block;
  width: 1000px;
}
/* line 22, ../sass/partials/_layout.scss */
.pane .hash-anchor {
  position: absolute;
  height: 0;
  width: 0;
  top: -3.4em;
}

/* line 30, ../sass/partials/_layout.scss */
.vertical-center, #pane1 .centerpiece, #about-pane .contents div {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: 'Fontin Sans';
  src: url("/assets/fonts/Fontin_Sans_R_45b.otf");
}
/* line 6, ../sass/partials/_typography.scss */
body {
  font-family: "Raleway";
  font-weight: 300;
  line-height: 1.6;
  font-size: 0.95em;
}

/* line 13, ../sass/partials/_typography.scss */
h1, h2, h3 {
  margin-top: 0;
  font-weight: 300;
}

/* line 18, ../sass/partials/_typography.scss */
h1 {
  font-family: "Fontin Sans";
  font-size: 4em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

/* line 25, ../sass/partials/_typography.scss */
h2 {
  font-family: "Raleway";
  font-size: 2em;
  margin-bottom: 0.25em;
}

/* line 31, ../sass/partials/_typography.scss */
h3 {
  font-family: "Raleway";
  font-size: 1.6em;
  margin-bottom: 0.25em;
}

/* line 37, ../sass/partials/_typography.scss */
.subheading {
  margin: 10px;
  font-size: 2em;
  font-weight: 100;
}

/* line 43, ../sass/partials/_typography.scss */
p {
  margin-top: 0;
}

/* line 47, ../sass/partials/_typography.scss */
a {
  color: #1EAEDB;
}

/* line 50, ../sass/partials/_typography.scss */
a:hover {
  color: #1b9cc5;
}

/* line 54, ../sass/partials/_typography.scss */
.quote {
  display: inline-block;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-left: 1.5em;
  border-left: 3px solid;
}

/* line 1, ../sass/partials/_navbar.scss */
.navbar {
  width: 100%;
  padding: 0;
  text-align: center;
  z-index: 10;
  color: #555;
  -moz-transition: background-color 0.25s, box-shadow 0.25s;
  -o-transition: background-color 0.25s, box-shadow 0.25s;
  -webkit-transition: background-color 0.25s, box-shadow 0.25s;
  transition: background-color 0.25s, box-shadow 0.25s;
}
/* line 12, ../sass/partials/_navbar.scss */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* line 19, ../sass/partials/_navbar.scss */
.navbar li {
  position: relative;
  display: inline-block;
}
/* line 24, ../sass/partials/_navbar.scss */
.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 1.2em 1em 1.2em 1em;
  display: inline-block;
}
/* line 34, ../sass/partials/_navbar.scss */
.navbar li::after {
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0.8em;
  -moz-transition: ease-in-out 0.15s;
  -o-transition: ease-in-out 0.15s;
  -webkit-transition: ease-in-out 0.15s;
  transition: ease-in-out 0.15s;
  content: " ";
  border-bottom: 1px solid #888888;
}
/* line 45, ../sass/partials/_navbar.scss */
.navbar li:hover::after {
  left: 0;
  right: 0;
}

/* line 53, ../sass/partials/_navbar.scss */
.navbar.normal {
  position: absolute;
  bottom: 3em;
}

/* line 57, ../sass/partials/_navbar.scss */
.navbar.sticky {
  position: fixed;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/partials/_homepage-pane-1.scss */
#pane1 {
  padding: 0;
  height: calc(100vh + 50px);
  background: #fff url("/assets/img/tex/subtle_grunge.png") repeat;
  color: #333;
  text-align: center;
  position: relative;
}
/* line 11, ../sass/partials/_homepage-pane-1.scss */
#pane1 .centerpiece {
  top: 40%;
  /* Not 50%, because the navbar takes up some space */
  width: auto;
}
/* line 15, ../sass/partials/_homepage-pane-1.scss */
#pane1 .centerpiece img {
  height: 25em;
}
/* line 21, ../sass/partials/_homepage-pane-1.scss */
#pane1 h1 {
  margin: 0;
  font-size: 5.5em;
}
/* line 26, ../sass/partials/_homepage-pane-1.scss */
#pane1 .down-chevron {
  color: #999;
  font-size: 3em;
  display: block;
  position: absolute;
  bottom: 65px;
  width: 100%;
  left: 0;
}
/* line 37, ../sass/partials/_homepage-pane-1.scss */
#pane1 .paper-tear {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/tex/paper-tear.png") repeat-x;
  background-size: 477.85388px 50px;
  width: 100%;
  height: 50px;
}

/* line 1, ../sass/partials/_homepage-about.scss */
#about-pane {
  background: #000;
  color: #eee;
  padding: 0;
}
/* line 7, ../sass/partials/_homepage-about.scss */
#about-pane .contents {
  height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 13, ../sass/partials/_homepage-about.scss */
#about-pane .contents div {
  width: calc(1200px - (2/3) * 100vh - 10px);
  display: inline-block;
  float: left;
  text-align: left;
}
/* line 21, ../sass/partials/_homepage-about.scss */
#about-pane .contents img {
  height: 100vh;
  width: 66.7vh;
  float: right;
}

/* line 1, ../sass/partials/_homepage-software.scss */
#software-pane {
  background: url("/assets/img/tex/agsquare.png") repeat;
}
/* line 17, ../sass/partials/_homepage-software.scss */
#software-pane ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
/* line 24, ../sass/partials/_homepage-software.scss */
#software-pane .vertical-line {
  position: absolute;
  left: 10em;
  height: 100%;
  border-left: 1px solid #ccc;
}
/* line 32, ../sass/partials/_homepage-software.scss */
#software-pane li::before {
  content: ' ';
  background: #ccc;
  border-radius: 100px;
  height: 8px;
  width: 8px;
  position: absolute;
  left: calc(10em - 4px);
  top: 50%;
}
/* line 45, ../sass/partials/_homepage-software.scss */
#software-pane li {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 53, ../sass/partials/_homepage-software.scss */
#software-pane li .bubble {
  position: absolute;
  top: calc(50% - 0.75em);
  right: calc(100% - 10em);
  margin-right: 20px;
  background: #fff;
  padding: 0.25em 1em 0.25em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaa;
}
/* line 70, ../sass/partials/_homepage-software.scss */
#software-pane li .bubble::before, #software-pane li .bubble::after {
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  content: " ";
}
/* line 78, ../sass/partials/_homepage-software.scss */
#software-pane li .bubble::before {
  top: calc(50% - 11px);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #aaa;
}
/* line 86, ../sass/partials/_homepage-software.scss */
#software-pane li .bubble::after {
  top: calc(50% - 10px);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}
/* line 94, ../sass/partials/_homepage-software.scss */
#software-pane li img {
  float: left;
  margin-left: 11em;
  margin-right: 2em;
  width: 15em;
}
/* line 101, ../sass/partials/_homepage-software.scss */
#software-pane li .info {
  float: left;
  text-align: left;
  width: calc(100% - 10em - 15em - 3em);
}

/* line 1, ../sass/partials/_homepage-education.scss */
#education-pane {
  background: url("/assets/img/tex/shattered-purple.png") repeat;
  color: #fff;
}
/* line 7, ../sass/partials/_homepage-education.scss */
#education-pane a {
  color: #FFDF00;
}
/* line 8, ../sass/partials/_homepage-education.scss */
#education-pane a:hover {
  color: #ffe533;
}
/* line 10, ../sass/partials/_homepage-education.scss */
#education-pane .well {
  display: inline-block;
  background: rgba(200, 200, 200, 0.3);
  padding: 1em;
  margin: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 20, ../sass/partials/_homepage-education.scss */
#education-pane .well img {
  width: 15em;
  float: left;
  margin-right: 1.5em;
}
/* line 26, ../sass/partials/_homepage-education.scss */
#education-pane .well .info {
  float: left;
  text-align: left;
  width: calc(100% - 15em - 1.5em);
}

/* line 1, ../sass/partials/_homepage-photography.scss */
#photography-pane {
  background: url("/assets/img/tex/stardust.png") repeat;
  color: #fff;
}

/* line 1, ../sass/partials/_homepage-connect.scss */
#connect {
  background: url("/assets/img/tex/gplaypattern-blue.png") repeat;
  color: #fff;
  min-height: 0;
}
/* line 13, ../sass/partials/_homepage-connect.scss */
#connect a {
  color: #fff;
  font-size: 2em;
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  -moz-transition: color 0.1s, font-size 0.1s, padding-top 0.1s;
  -o-transition: color 0.1s, font-size 0.1s, padding-top 0.1s;
  -webkit-transition: color 0.1s, font-size 0.1s, padding-top 0.1s;
  transition: color 0.1s, font-size 0.1s, padding-top 0.1s;
}
/* line 25, ../sass/partials/_homepage-connect.scss */
#connect a:hover {
  color: #E8FF1E;
  font-size: 2.25em;
  padding-top: 0em;
}
