/* line 1, ../sass/partials/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333;
}

/* line 7, ../sass/partials/_typography.scss */
h1, h2, h3 {
  padding-top: 0.33em;
  padding-bottom: 0.67em;
  font-family: "Lato";
  font-weight: 300;
}

/* line 14, ../sass/partials/_typography.scss */
h1 em {
  font-weight: 700;
  font-style: normal;
}

/* line 19, ../sass/partials/_typography.scss */
h2 em, h3 em {
  font-weight: 400;
  font-style: normal;
}

/* line 24, ../sass/partials/_typography.scss */
h1 {
  font-size: 3.5em;
}

/* line 25, ../sass/partials/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 26, ../sass/partials/_typography.scss */
h3 {
  font-size: 1.5em;
}

/* line 28, ../sass/partials/_typography.scss */
a, a:visited {
  color: #1D5FD0;
}

/* line 31, ../sass/partials/_typography.scss */
a:hover {
  color: #174ba3;
}

/* line 35, ../sass/partials/_typography.scss */
.block-quote {
  display: inline-block;
  position: relative;
  padding-top: 0.5em;
  padding-left: 1.5em;
}

/* line 42, ../sass/partials/_typography.scss */
.block-quote::after {
  content: ' ';
  position: absolute;
  top: 0.5em;
  bottom: 0;
  left: 0;
  border-left: 3px solid #ccc;
}

/* line 1, ../sass/partials/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_layout.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, ../sass/partials/_layout.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 20, ../sass/partials/_layout.scss */
.vertical-center {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 24, ../sass/partials/_layout.scss */
.home-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

/* line 33, ../sass/partials/_layout.scss */
.content-container {
  height: 100%;
  width: 100%;
}

/* line 38, ../sass/partials/_layout.scss */
#content {
  position: relative;
}
/* line 46, ../sass/partials/_layout.scss */
#content .loading-spinner {
  position: absolute;
  top: 1em;
  left: calc( 50% - 0.4em );
  opacity: 0;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
@media screen and (min-height: 32em) {
  /* line 46, ../sass/partials/_layout.scss */
  #content .loading-spinner {
    top: calc( 50vh - 14.5em - 1.5em );
  }
}
/* line 57, ../sass/partials/_layout.scss */
#content .loading-spinner.show {
  opacity: 1;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
@media (min-width: 768px) {
  /* line 57, ../sass/partials/_layout.scss */
  #content .loading-spinner.show {
    -moz-transition: opacity 0.25s ease-in-out 0.75s;
    -o-transition: opacity 0.25s ease-in-out 0.75s;
    -webkit-transition: opacity 0.25s ease-in-out 0.75s;
    transition: opacity 0.25s ease-in-out 0.75s;
  }
}
/* line 68, ../sass/partials/_layout.scss */
#content .page {
  opacity: 0;
}
@media (min-width: 768px) {
  /* line 68, ../sass/partials/_layout.scss */
  #content .page {
    -moz-transition: visibility 0.25s, opacity 0.25s ease-in-out 0s;
    -o-transition: visibility 0.25s, opacity 0.25s ease-in-out 0s;
    -webkit-transition: visibility 0.25s, opacity 0.25s ease-in-out;
    -webkit-transition-delay: 0s, 0s;
    transition: visibility 0.25s, opacity 0.25s ease-in-out 0s;
  }
}
/* line 75, ../sass/partials/_layout.scss */
#content .page.show {
  opacity: 1;
}
@media (min-width: 768px) {
  /* line 75, ../sass/partials/_layout.scss */
  #content .page.show {
    -moz-transition: visibility 0s, opacity 0.25s ease-in-out;
    -o-transition: visibility 0s, opacity 0.25s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.25s ease-in-out;
    transition: visibility 0s, opacity 0.25s ease-in-out;
  }
}

@media (min-width: 768px) {
  /* line 85, ../sass/partials/_layout.scss */
  #content.firstload {
    opacity: 0;
    -moz-animation: fade-in-up-lg 0.5s ease-out 0.5s 1 forwards;
    -webkit-animation: fade-in-up-lg 0.5s ease-out 0.5s 1 forwards;
    animation: fade-in-up-lg 0.5s ease-out 0.5s 1 forwards;
  }
}
/* line 91, ../sass/partials/_layout.scss */
#content.firstload .page.show {
  opacity: 1;
  visibility: visible;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

@keyframes fade-in-up-lg {
  0% {
    -moz-transform: translateY(8em);
    -ms-transform: translateY(8em);
    -webkit-transform: translateY(8em);
    transform: translateY(8em);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    opacity: 1;
  }
}
/* line 113, ../sass/partials/_layout.scss */
.section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  position: relative;
}

/* line 1, ../sass/partials/_nav.scss */
.nav {
  text-align: center;
  font-weight: 300;
  color: #555;
  font-size: 105%;
  line-height: 200%;
  position: relative;
}
/* line 9, ../sass/partials/_nav.scss */
.nav a, .nav a:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.5em;
  line-height: 100%;
  color: inherit;
  padding: 5px 8px;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

/* line 21, ../sass/partials/_nav.scss */
.nav.top {
  padding-top: 1em;
  height: 4em;
}
@media (max-width: 500px) {
  /* line 21, ../sass/partials/_nav.scss */
  .nav.top {
    height: 7em;
  }
}
/* line 26, ../sass/partials/_nav.scss */
.nav.top a {
  background-color: transparent;
}
@media (min-width: 768px) {
  /* line 30, ../sass/partials/_nav.scss */
  .nav.top a::before {
    opacity: 0;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    top: 100%;
    -moz-transition: ease-in-out 0.15s;
    -o-transition: ease-in-out 0.15s;
    -webkit-transition: ease-in-out 0.15s;
    transition: ease-in-out 0.15s;
    content: " ";
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
  }
  /* line 43, ../sass/partials/_nav.scss */
  .nav.top a:hover {
    color: #333;
    background-color: transparent;
  }
  /* line 46, ../sass/partials/_nav.scss */
  .nav.top a:hover:not(.selected)::before {
    opacity: 1;
    left: 0;
    right: 0;
  }
}
/* line 54, ../sass/partials/_nav.scss */
.nav.top a.selected:hover::before {
  border-color: #1D5FD0;
}
/* line 58, ../sass/partials/_nav.scss */
.nav.top a.selected {
  background-color: #1D5FD0;
  color: #fff;
}
/* line 63, ../sass/partials/_nav.scss */
.nav.top a::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0px solid transparent;
  -moz-transition: border-top 0.25s ease-in-out;
  -o-transition: border-top 0.25s ease-in-out;
  -webkit-transition: border-top 0.25s ease-in-out;
  transition: border-top 0.25s ease-in-out;
  top: 100%;
  left: calc( 50% - 8px );
  position: absolute;
}
/* line 77, ../sass/partials/_nav.scss */
.nav.top a.selected::after {
  border-top: 8px solid #1D5FD0;
}
/* line 81, ../sass/partials/_nav.scss */
.nav.top a.selected:hover {
  background-color: #1D5FD0;
}
@media (min-width: 768px) {
  /* line 85, ../sass/partials/_nav.scss */
  .nav.top a.selected:not(:active):hover {
    animation: wiggle 0.25s ease 0s 1 forwards;
  }
}

/* line 92, ../sass/partials/_nav.scss */
.nav.top:not(.hidden) {
  opacity: 0;
}
@media (max-width: 767px) {
  /* line 92, ../sass/partials/_nav.scss */
  .nav.top:not(.hidden) {
    animation: navbar-move-in 0s 0s 1 forwards;
  }
}
@media (min-width: 768px) {
  /* line 92, ../sass/partials/_nav.scss */
  .nav.top:not(.hidden) {
    animation: navbar-move-in 0.75s ease-out 0.25s 1 forwards;
  }
}

/* line 103, ../sass/partials/_nav.scss */
.nav.top.hidden {
  top: -4em;
  opacity: 0;
}
@media (max-width: 500px) {
  /* line 103, ../sass/partials/_nav.scss */
  .nav.top.hidden {
    top: -7em;
  }
}

/* line 110, ../sass/partials/_nav.scss */
.nav.in-body a, .nav.in-body a:visited {
  background-color: #333;
  border: 1px solid transparent;
  color: #eee;
}
@media (max-width: 767px) {
  /* line 110, ../sass/partials/_nav.scss */
  .nav.in-body a, .nav.in-body a:visited {
    display: block;
    margin: 0 1em 0.5em 1em;
  }
}
/* line 121, ../sass/partials/_nav.scss */
.nav.in-body a:hover {
  color: #fff;
  background-color: #333;
}

/* line 127, ../sass/partials/_nav.scss */
.dark .nav.in-body {
  color: #ccc;
  position: relative;
}
/* line 131, ../sass/partials/_nav.scss */
.dark .nav.in-body a, .dark .nav.in-body a:visited {
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
}
/* line 137, ../sass/partials/_nav.scss */
.dark .nav.in-body a:hover {
  color: #333;
  background-color: #eee;
  border: 1px solid #ccc;
}

@keyframes navbar-move-in {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes wiggle {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  75% {
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 1, ../sass/partials/_footer.scss */
.footer {
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  color: #555;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
/* line 8, ../sass/partials/_footer.scss */
.footer a, .footer a:visited {
  color: inherit;
  margin-right: 0.25em;
}

/* line 14, ../sass/partials/_footer.scss */
.footer.dark {
  color: #ccc;
}

/* line 20, ../sass/partials/_footer.scss */
* {
  margin: 0;
}

/* line 24, ../sass/partials/_footer.scss */
html, body {
  height: 100%;
}

/* line 28, ../sass/partials/_footer.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2rem;
}

/* line 35, ../sass/partials/_footer.scss */
.footer, .push {
  height: 2rem;
}

/* line 1, ../sass/partials/_backgrounds.scss */
.backgrounds, .backgrounds div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -100;
}

/* line 10, ../sass/partials/_backgrounds.scss */
body.on-content .backgrounds {
  min-height: 38.66667em;
}
@media (max-width: 500px) {
  /* line 10, ../sass/partials/_backgrounds.scss */
  body.on-content .backgrounds {
    min-height: 42.66667em;
  }
}

/* line 23, ../sass/partials/_backgrounds.scss */
.backgrounds {
  overflow: hidden;
}
/* line 31, ../sass/partials/_backgrounds.scss */
.backgrounds div:not(.gray-overlay) {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 38, ../sass/partials/_backgrounds.scss */
.backgrounds::before, .backgrounds::after {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  /* line 38, ../sass/partials/_backgrounds.scss */
  .backgrounds::before, .backgrounds::after {
    -moz-transition: -moz-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
  }
}
/* line 49, ../sass/partials/_backgrounds.scss */
.backgrounds::before {
  top: 0;
  height: 4em;
  -moz-transform: translateY(-4em);
  -ms-transform: translateY(-4em);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
}
@media (max-width: 500px) {
  /* line 49, ../sass/partials/_backgrounds.scss */
  .backgrounds::before {
    height: 7em;
    -moz-transform: translateY(-7em);
    -ms-transform: translateY(-7em);
    -webkit-transform: translateY(-7em);
    transform: translateY(-7em);
  }
}
/* line 59, ../sass/partials/_backgrounds.scss */
.backgrounds::after {
  top: 29em;
  bottom: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
@media (max-width: 500px) {
  /* line 59, ../sass/partials/_backgrounds.scss */
  .backgrounds::after {
    top: 32em;
  }
}
/* line 68, ../sass/partials/_backgrounds.scss */
.backgrounds.small::before, .backgrounds.small::after {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 75, ../sass/partials/_backgrounds.scss */
.backgrounds .gray-overlay {
  background: #000;
  opacity: 0;
  z-index: -10;
  content: "";
}
@media (min-width: 768px) {
  /* line 75, ../sass/partials/_backgrounds.scss */
  .backgrounds .gray-overlay {
    -moz-transition: opacity, 0.6s, ease-in-out;
    -o-transition: opacity, 0.6s, ease-in-out;
    -webkit-transition: opacity, 0.6s, ease-in-out;
    transition: opacity, 0.6s, ease-in-out;
  }
}
/* line 84, ../sass/partials/_backgrounds.scss */
.backgrounds.visible .gray-overlay {
  opacity: 0.6;
}
/* line 91, ../sass/partials/_backgrounds.scss */
.backgrounds.small div:not(.gray-overlay) {
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}
/* line 95, ../sass/partials/_backgrounds.scss */
.backgrounds div.visible:not(.gray-overlay) {
  opacity: 1;
}
/* line 99, ../sass/partials/_backgrounds.scss */
.backgrounds div {
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  opacity: 0;
}
@media (min-width: 768px) {
  /* line 99, ../sass/partials/_backgrounds.scss */
  .backgrounds div {
    -moz-transition: opacity 0.6s ease-in-out, -moz-transform 1s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out, -o-transform 1s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: opacity 0.6s ease-in-out, transform 1s ease-in-out;
  }
}
/* line 107, ../sass/partials/_backgrounds.scss */
.backgrounds #software-background {
  background: url(/assets/img/backgrounds/DSC_9869.jpg) center center no-repeat;
}
/* line 110, ../sass/partials/_backgrounds.scss */
.backgrounds #photography-background {
  background: url(/assets/img/backgrounds/DSC_5179.jpg) center center no-repeat;
}
/* line 113, ../sass/partials/_backgrounds.scss */
.backgrounds #music-background {
  background: url(/assets/img/backgrounds/DSC_9903.jpg) center center no-repeat;
}
/* line 116, ../sass/partials/_backgrounds.scss */
.backgrounds #teaching-background {
  background: url(/assets/img/backgrounds/DSC_0231.jpg) center center no-repeat;
}
/* line 119, ../sass/partials/_backgrounds.scss */
.backgrounds #resume-background {
  background: url(/assets/img/backgrounds/DSC_0229.jpg) center center no-repeat;
}

@keyframes fade-in-up-sm {
  0% {
    -moz-transform: translateY(4em);
    -ms-transform: translateY(4em);
    -webkit-transform: translateY(4em);
    transform: translateY(4em);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    opacity: 1;
  }
}
/* line 13, ../sass/partials/_page_banner.scss */
.banner {
  position: relative;
  height: 25em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #eee;
  font-weight: 300;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 23, ../sass/partials/_page_banner.scss */
.banner .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 33, ../sass/partials/_page_banner.scss */
.banner .content h1 {
  display: block;
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 38, ../sass/partials/_page_banner.scss */
.banner .content h1 em {
  display: inline-block;
  margin-right: 10px;
  display: none;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
}
/* line 47, ../sass/partials/_page_banner.scss */
.banner .content h1 em.exiting {
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
/* line 50, ../sass/partials/_page_banner.scss */
.banner .content h1 em.entering {
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
/* line 55, ../sass/partials/_page_banner.scss */
.banner .content p {
  opacity: 0;
  visibility: hidden;
  text-align: justify;
}
@media (min-width: 768px) {
  /* line 55, ../sass/partials/_page_banner.scss */
  .banner .content p {
    -moz-transition: visibility 0s 0.25s, opacity 0.25s ease-in-out;
    -o-transition: visibility 0s 0.25s, opacity 0.25s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s;
    transition: visibility 0s 0.25s, opacity 0.25s ease-in-out;
  }
}
/* line 63, ../sass/partials/_page_banner.scss */
.banner .content p.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  /* line 63, ../sass/partials/_page_banner.scss */
  .banner .content p.show {
    -moz-transition: visibility 0s, opacity 0.25s ease-in-out;
    -o-transition: visibility 0s, opacity 0.25s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.25s ease-in-out;
    transition: visibility 0s, opacity 0.25s ease-in-out;
  }
}
/* line 71, ../sass/partials/_page_banner.scss */
.banner .content a {
  color: #6999ea;
}
/* line 72, ../sass/partials/_page_banner.scss */
.banner .content a:hover {
  color: #acc6f3;
}
/* line 74, ../sass/partials/_page_banner.scss */
.banner .content .blurbs {
  position: relative;
  width: 100%;
  height: 3em;
  padding-top: 0.4em;
  overflow: visible;
}
@media (max-width: 767px) {
  /* line 74, ../sass/partials/_page_banner.scss */
  .banner .content .blurbs {
    height: 5em;
  }
}
/* line 82, ../sass/partials/_page_banner.scss */
.banner .content .blurbs p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 93, ../sass/partials/_page_banner.scss */
.banner.hidden {
  opacity: 0;
}

@media (min-width: 768px) {
  /* line 97, ../sass/partials/_page_banner.scss */
  .banner:not(.hidden) {
    opacity: 0;
    -moz-animation: fade-in-up-sm 0.5s ease-out 0.5s 1 forwards;
    -webkit-animation: fade-in-up-sm 0.5s ease-out 0.5s 1 forwards;
    animation: fade-in-up-sm 0.5s ease-out 0.5s 1 forwards;
  }
}

@keyframes move-out {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes move-in {
  0% {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* line 25, ../sass/partials/_homepage_center_card.scss */
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc( 100vh - 2rem );
  width: 100%;
}

/* line 33, ../sass/partials/_homepage_center_card.scss */
.center-card {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  text-shadow: 0px 2px 4px transparent;
  -moz-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* line 57, ../sass/partials/_homepage_center_card.scss */
.center-card .title-text {
  padding-bottom: 1.5em;
  position: relative;
}
/* line 61, ../sass/partials/_homepage_center_card.scss */
.center-card .title-text h1 {
  padding: 0;
}
/* line 66, ../sass/partials/_homepage_center_card.scss */
.center-card .about {
  font-weight: 300;
  margin-bottom: 1.5em;
  position: relative;
}

/* line 73, ../sass/partials/_homepage_center_card.scss */
.center-card.dark {
  color: #eee;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  /* line 83, ../sass/partials/_homepage_center_card.scss */
  .center-card.transition {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  /* line 89, ../sass/partials/_homepage_center_card.scss */
  .center-card.transition .title-text {
    animation: move-out 0.5s ease-in 0s 1 forwards;
  }
  /* line 95, ../sass/partials/_homepage_center_card.scss */
  .center-card.transition .about {
    animation: move-out 0.5s ease-in 0.05s 1 forwards;
  }
  /* line 100, ../sass/partials/_homepage_center_card.scss */
  .center-card.transition .nav {
    animation: move-out 0.5s ease-in 0.1s 1 forwards;
  }

  /* line 107, ../sass/partials/_homepage_center_card.scss */
  .center-card.return .title-text {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    animation: move-in 0.5s ease-out 0s 1 forwards;
  }
  /* line 114, ../sass/partials/_homepage_center_card.scss */
  .center-card.return .about {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    animation: move-in 0.5s ease-out 0.05s 1 forwards;
  }
  /* line 121, ../sass/partials/_homepage_center_card.scss */
  .center-card.return .nav {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    animation: move-in 0.5s ease-out 0.1s 1 forwards;
  }
}
/* line 1, ../sass/partials/_timeline.scss */
.timeline {
  list-style-type: none;
  padding-left: 0;
  position: relative;
}
/* line 6, ../sass/partials/_timeline.scss */
.timeline .vertical-line {
  position: absolute;
  height: 100%;
  border-left: 1px solid #ccc;
  left: 4px;
}
@media (min-width: 768px) {
  /* line 6, ../sass/partials/_timeline.scss */
  .timeline .vertical-line {
    left: 10em;
  }
}
/* line 20, ../sass/partials/_timeline.scss */
.timeline li::before {
  content: ' ';
  background: #ccc;
  border-radius: 100px;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  top: 0.75em;
}
@media (min-width: 768px) {
  /* line 20, ../sass/partials/_timeline.scss */
  .timeline li::before {
    left: calc(10em - 4px);
    top: 50%;
  }
}
/* line 44, ../sass/partials/_timeline.scss */
.timeline li {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 52, ../sass/partials/_timeline.scss */
.timeline li h3 {
  padding-top: 0;
  padding-bottom: 0.5em;
}
/* line 57, ../sass/partials/_timeline.scss */
.timeline li .bubble {
  position: absolute;
  background: #fff;
  padding: 0.25em 1em 0.25em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #aaa;
  top: 0;
  left: 20px;
}
@media (min-width: 768px) {
  /* line 57, ../sass/partials/_timeline.scss */
  .timeline li .bubble {
    top: calc(50% - 0.75em);
    right: calc(100% - 10em);
    left: auto;
    margin-right: 20px;
  }
}
/* line 85, ../sass/partials/_timeline.scss */
.timeline li .bubble::before, .timeline li .bubble::after {
  position: absolute;
  width: 0;
  height: 0;
  content: " ";
  right: 100%;
}
@media (min-width: 768px) {
  /* line 85, ../sass/partials/_timeline.scss */
  .timeline li .bubble::before, .timeline li .bubble::after {
    left: 100%;
    right: auto;
  }
}
/* line 96, ../sass/partials/_timeline.scss */
.timeline li .bubble::before {
  top: calc(50% - 11px);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #aaa;
}
@media (min-width: 768px) {
  /* line 96, ../sass/partials/_timeline.scss */
  .timeline li .bubble::before {
    border-right: none;
    border-left: 11px solid #aaa;
  }
}
/* line 110, ../sass/partials/_timeline.scss */
.timeline li .bubble::after {
  top: calc(50% - 10px);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}
@media (min-width: 768px) {
  /* line 110, ../sass/partials/_timeline.scss */
  .timeline li .bubble::after {
    border-right: none;
    border-left: 10px solid #fff;
  }
}
@media (max-width: 767px) {
  /* line 124, ../sass/partials/_timeline.scss */
  .timeline li > a, .timeline li > img, .timeline li > a img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/* line 133, ../sass/partials/_timeline.scss */
.timeline li img {
  float: left;
  margin-left: 11em;
  margin-right: 2em;
  padding-top: 0;
  width: 10em;
  max-width: 10em;
}
@media (max-width: 767px) {
  /* line 133, ../sass/partials/_timeline.scss */
  .timeline li img {
    width: 80%;
    padding-top: 2.75em;
    margin: 0;
    float: none;
    text-align: center;
  }
}
/* line 152, ../sass/partials/_timeline.scss */
.timeline li .info {
  padding: 1em;
  text-align: justify;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 157, ../sass/partials/_timeline.scss */
.timeline li .info h3 {
  text-align: center;
}
/* line 159, ../sass/partials/_timeline.scss */
.timeline li .info p:not(:first-of-type) {
  padding-top: 0.5em;
}
@media (min-width: 768px) {
  /* line 152, ../sass/partials/_timeline.scss */
  .timeline li .info {
    float: left;
    width: calc(100% - 10em - 10em - 3em);
    padding: 0;
  }
  /* line 163, ../sass/partials/_timeline.scss */
  .timeline li .info h3 {
    text-align: left;
  }
}

@keyframes loading-spinner {
  0%,
    80%,
    100% {
    box-shadow: 0 0.8em 0 -0.4em #aaa;
  }
  40% {
    box-shadow: 0 0.8em 0 0 #aaa;
  }
}
/* line 12, ../sass/partials/_loading_spinner.scss */
.loading-spinner:before, .loading-spinner:after, .loading-spinner {
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation: loading-spinner 1s infinite ease-in-out;
  -webkit-animation: loading-spinner 1s infinite ease-in-out;
  animation: loading-spinner 1s infinite ease-in-out;
}

/* line 20, ../sass/partials/_loading_spinner.scss */
.loading-spinner {
  margin: 0 auto;
  position: relative;
  bottom: 0.8em;
  text-indent: -9999em;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* line 29, ../sass/partials/_loading_spinner.scss */
.loading-spinner:before {
  left: -1.8em;
  -moz-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 34, ../sass/partials/_loading_spinner.scss */
.loading-spinner:after {
  left: 1.8em;
}

/* line 38, ../sass/partials/_loading_spinner.scss */
.loading-spinner:before, .loading-spinner:after {
  content: '';
  position: absolute;
  top: 0;
}

/* line 1, ../sass/partials/_project_card.scss */
.project-card {
  width: 49%;
  padding: 1em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
@media (max-width: 767px) {
  /* line 1, ../sass/partials/_project_card.scss */
  .project-card {
    width: 100%;
  }
}
/* line 13, ../sass/partials/_project_card.scss */
.project-card .logo {
  display: block;
  width: 30%;
  float: left;
}
/* line 18, ../sass/partials/_project_card.scss */
.project-card .logo img {
  width: 100%;
}
/* line 21, ../sass/partials/_project_card.scss */
.project-card .info {
  width: 70%;
  float: right;
  padding-left: 1em;
}
/* line 26, ../sass/partials/_project_card.scss */
.project-card .info h3 {
  padding: 0;
}
/* line 30, ../sass/partials/_project_card.scss */
.project-card .at-a-glance-push {
  height: 2em;
}
/* line 36, ../sass/partials/_project_card.scss */
.project-card .at-a-glance {
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  position: absolute;
  bottom: 1.1em;
  height: 1.9em;
  left: calc( 30% + 1.4em );
  right: 1em;
}
/* line 49, ../sass/partials/_project_card.scss */
.project-card .dates {
  position: absolute;
  right: 0;
  top: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.35em;
  display: inline-block;
  float: right;
  font-size: 80%;
  background: #fff;
}
/* line 61, ../sass/partials/_project_card.scss */
.project-card .dates::after {
  content: ' ';
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 2em;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}
/* line 71, ../sass/partials/_project_card.scss */
.project-card .technologies {
  position: absolute;
  left: 0;
  top: 0.25em;
  list-style-type: none;
  padding: 0;
  float: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc( 100% - 1em );
}
/* line 83, ../sass/partials/_project_card.scss */
.project-card .technologies li {
  display: inline-block;
  height: 1.5em;
  margin-right: 0.25em;
  background: #eaeaea;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
}
/* line 92, ../sass/partials/_project_card.scss */
.project-card .technologies li img {
  height: 100%;
}
/* line 96, ../sass/partials/_project_card.scss */
.project-card .technologies li span {
  position: relative;
  top: -0.2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
