@font-face {
    font-family: 'Fontin Sans';
    src: url('Fontin_Sans_R_45b.otf');
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

#pane1 {
    text-align: center;
    width: 100%;
    height: 100vh;
}

#pane1 .background {
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    text-align: center;
}

@media (max-height: 850px) {
    #pane1 > .bottom { height: 18rem !important; }
    #pane1 > .top { height: calc(100% - 18rem) !important; }
}

#pane1 > .top {
    width: 100%;
    height: 65%;
    background: url('../img/subtle_grunge.png') repeat;
    background-color: #fff;
    /* Prevent half-pixel placement: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#pane1 > .top > img {
    height: 80%;
    position: relative;
    top: 45%; /* Not 50%, because the paper tear in the bottom pane takes up some space */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#pane1 > .bottom {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #1b1b1b;
}

#pane1 > .bottom .paper-tear {
    position: absolute;
    top: -45px;
    background: url('../img/paper-tear.png') repeat-x;
    background-size: 477.85388128px 50px;
    width: 100%;
    height: 50px;
}

#pane1 > .bottom .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    font-weight: 300;
}

#pane1 > .bottom h1 {
    font-weight: 400;
    margin: 0;
    font-family: 'Fontin Sans';
    font-size: 5.5em;
}

#pane1 > .bottom p {
    margin: 10px;
    font-size: 2em;
    font-weight: 100;
}

.navbar {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    color: #555;
    padding: 0;
    margin: 0;
    display: inline-block;
    transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
}

.navbar ul:hover {
    color: #ccc;
    cursor: pointer;
}

.navbar li {
    position: relative;
    padding: 1em;
    display: inline-block;
}

.navbar li::after {
    display: block;
    margin-bottom: .6em;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: " ";
    border-bottom: 1px solid #555;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.navbar li:hover::after {
    left: 0;
    right: 0;
}

.navbar li a {
    color: inherit;
    text-decoration: none;
}
