<div class="section">
    <h2>Improvisation: <em>Yolo Time</em></h2>

    <p>Most of the songs in "Yolo Time" were completely made up on the spot
    with no planning/practice; one person would start playing a riff, and then
    others would join in. Lyrics were improvised as well. This was the first
    time improvising for some of us, and we had fun playing musical chairs
    (rotating instruments), so sometimes we didn't even really know how to play
    the instrument, but we had lots of fun!</p>

    <iframe style="display: block; margin-top: 1em;" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/255129403&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>
