<div class="section">
    <h1>Pictures of <em>Landscapes</em></h1>
    <div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'><iframe id='iframe' src='//flickrit.com/slideshowholder.php?height=75&size=big&speed=stop&setId=72157660244704994&credit=2&thumbnails=1&transition=1&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
    <h1>Pictures of <em>Things</em></h1>
    <div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'><iframe id='iframe' src='//flickrit.com/slideshowholder.php?height=75&size=big&speed=stop&setId=72157662029725699&credit=2&thumbnails=1&transition=1&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
    <!-- <h1>Pictures of <em>People</em></h1> -->
</div>
