<div class="section">
	<h2>Places I've <em>Worked</em></h2>
	<ul class="timeline">
        <div class="vertical-line"></div>
        <li>
            <div class="bubble">2015</div>
            <a href="http://www.sandia.gov"><img src="assets/img/logos/sandia.png" /></a>
            <div class="info">
                <a href="http://www.sandia.gov"><h3>Sandia National Laboratories: Computational Science Research Intern</h3></a>
                <p>
                    I interned for Sandia National Labs' Scalable Algorithms
                    Team developing an optimized block sparse matrix-vector
                    multiplication (BSpMV) algorithm for manycore
                    architectures (including Sandy Bridge, Knights Corner, and
                    Kepler). The algorithm I developed outperforms the
                    comparable algorithm in Intel's Math Kernel Library (MKL)
                    by up to 3x and outperforms the equivalent algorithm in
                    Nvidia's cuSPARSE by up to 4x.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2015</div>
            <a href="http://www.reconsports.org"><img src="assets/img/logos/recon.png" /></a>
            <div class="info">
                <a href="http://www.reconsports.org"><h3>Recon Sports: Software Consultant</h3></a>
                <p>
                    Recon Sports pairs younger hockey players with
                    professional advisors and helps them get recruited into
                    college hockey leagues. I built an initial version of
                    Recon's software platform. It allows players to enter game
                    information, schedules "scouts" to visit players' games
                    and score their playing in person, allows recruiters to
                    search for players using specific criteria, and more.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2013-2015</div>
            <a href="http://navier.com"><img src="assets/img/logos/navier.png" /></a>
            <div class="info">
                <a href="http://navier.com"><h3>Navier Inc: Cofounder and Lead Backend Developer</h3></a>
                <p>
                    At Navier, I built a platform (Anvil) that enables
                    developers to interact directly with customers in the
                    concept and prototyping stages of feature development (<a
                    href="https://www.youtube.com/watch?v=eJ6gOkFeRkg">watch
                    the pitch</a>). This beats the alternative of making a
                    release, gathering feedback, realizing customers don't
                    understand how a feature is supposed to work, making
                    another release, collecting feedback again, and so on (a
                    long, iterative cycle). I also consulted for several
                    companies, including the Chicago Sun Times, Jared Polis
                    for Congress, and JARST LLC.
                </p>
            </div>
        </li>
    </ul>
	<h2>Things I've <em>Built</em></h2>
	<!-- <div class="project-card">
		<a class="logo" href="https://github.com/reberhardt7/reberhardt"><img src="assets/img/logos/muse.png" /></a>
		<div class="info">
			<a href="https://github.com/reberhardt7/reberhardt"><h3>This website</h3></a>
			<p>
				The source code for this website is available <a href="https://github.com/reberhardt7/reberhardt">on Github</a>
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/html5.svg" /><span>HTML</span></li>
					<li><img src="/assets/img/technologies/sass.svg" /><span>Sass</span></li>
					<li><img src="/assets/img/technologies/js.svg" /><span>Javascript</span></li>
				</ul>
				<span class="dates">2015</span>
			</div>
		</div>
	</div> -->
	<div class="project-card">
		<a class="logo" href="https://github.com/reberhardt7/muse"><img src="assets/img/logos/muse.png" /></a>
		<div class="info">
			<a href="https://github.com/reberhardt7/muse"><h3>Muse</h3></a>
			<p>
				A simple procedural music generation algorithm that produces songs from scratch
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/python.svg" /><span>Python</span></li>
				</ul>
				<span class="dates">2015</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="https://github.com/reberhardt7/sofa"><img src="assets/img/logos/sofa.png" /></a>
		<div class="info">
			<a href="https://github.com/reberhardt7/sofa"><h3>Sofa</h3></a>
			<p>
				A lightweight, declarative REST API framework for Pyramid and SQLAlchemy
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/python.svg" /><span>Python</span></li>
					<li><img src="/assets/img/technologies/pyramid.png" /><span>Pyramid</span></li>
				</ul>
				<span class="dates">2015</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="https://github.com/reberhardt7/hcc-photo-upload"><img src="assets/img/logos/hcc.png" /></a>
		<div class="info">
			<a href="https://github.com/reberhardt7/hcc-photo-upload"><h3>HCC Photo Uploader</h3></a>
			<p>
				A "dropbox" that community members can drag pictures into in order to aggregate photos from over the years
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/js.svg" /><span>Javascript</span></li>
					<li><img src="/assets/img/technologies/python.svg" /><span>Python</span></li>
				</ul>
				<span class="dates">2015</span>
			</div>
		</div>
	</div>
	<!-- <div class="project-card">
		<a class="logo" href="https://github.com/vishwin/mixmachinebydre"><img src="assets/img/logos/hcc.png" /></a>
		<div class="info">
			<a href="https://github.com/vishwin/mixmachinebydre"><h3>Mix Machine</h3></a>
			<p>
				A "dropbox" that community members can drag pictures into in order to aggregate photos from over the years
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/js.svg" /><span>Javascript</span></li>
					<li><img src="/assets/img/technologies/python.svg" /><span>Python</span></li>
				</ul>
				<span class="dates">2015</span>
			</div>
		</div>
	</div> -->
	<div class="project-card">
		<a class="logo" href="http://tuxedit.com"><img src="assets/img/logos/tux.png" /></a>
		<div class="info">
			<a href="http://tuxedit.com"><h3>Tux</h3></a>
			<p>
				An online collaborative markup language editor
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/js.svg" /><span>Javascript</span></li>
					<li><img src="/assets/img/technologies/mathjax.png" /><span>MathJax</span></li>
				</ul>
				<span class="dates">2014-2015</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="http://emp.xyz/"><img src="assets/img/logos/emp.png" /></a>
		<div class="info">
			<a href="http://emp.xyz/"><h3>Empassage/EMP</h3></a>
			<p>
				A distributed, P2P messaging service implementing end-to-end elliptic-curve cryptography
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/golang.svg" /><span>Go</span></li>
					<li><img src="/assets/img/technologies/angular.svg" /><span>AngularJS</span></li>
				</ul>
				<span class="dates">2014-2015</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="http://illinois.navier.com"><img src="assets/img/logos/illinois.com.png" /></a>
		<div class="info">
			<a href="http://illinois.navier.com"><h3>Illinois.com Landing Page</h3></a>
			<p>
				A simple landing page to garner anticipation for the sale of <a href="http://illinois.com">Illinois.com</a>
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/html5.svg" /><span>HTML</span></li>
					<li><img src="/assets/img/technologies/css3.svg" /><span>CSS</span></li>
				</ul>
				<span class="dates">Oct. 2014</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="http://anvilapp.io"><img src="assets/img/logos/anvil.png" /></a>
		<div class="info">
			<a href="http://anvilapp.io"><h3>Anvil</h3></a>
			<p>
				A tool enabling web developers to interact directly with customers in the concept and prototyping stages of feature development
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/python.svg" /></li>
					<li><img src="/assets/img/technologies/pyramid.png" /></li>
					<li><img src="/assets/img/technologies/mysql.svg" /></li>
					<li><img src="/assets/img/technologies/angular.svg" /></li>
					<li><img src="/assets/img/technologies/docker.svg" /></li>
					<li><img src="/assets/img/technologies/xen.svg" /></li>
				</ul>
				<span class="dates">2013-2014</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="https://imsastudentproductions.com/"><img src="assets/img/logos/isp.png" /></a>
		<div class="info">
			<a href="https://imsastudentproductions.com/"><h3>IMSA Student Productions</h3></a>
			<p>
				A scheduling/operations and publishing platform for a high school media team
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/python.svg" /></li>
					<li><img src="/assets/img/technologies/pyramid.png" /></li>
					<li><img src="/assets/img/technologies/mysql.svg" /></li>
					<li><img src="/assets/img/technologies/docker.svg" /></li>
				</ul>
				<span class="dates">2013-2014</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<img class="logo" src="assets/img/logos/navier.png" />
		<div class="info">
			<h3>Bitcoin Payment Systems</h3>
			<p>
				A Bitcoin subscription platform for the <a href="https://btc.suntimes.com/">Chicago Sun-Times</a> and donation platform for <a href="https://bitcoin.polisforcongress.com/">Congressman Jared Polis</a>
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/python.svg" /><span>Python</span></li>
					<li><img src="/assets/img/technologies/pyramid.png" /><span>Pyramid</span></li>
					<li><img src="/assets/img/technologies/mysql.svg" /><span>MySQL</span></li>
				</ul>
				<span class="dates">2014</span>
			</div>
		</div>
	</div>
	<div class="project-card">
		<a class="logo" href="http://www.foundationscamps.org/"><img src="assets/img/logos/foundations.png" /></a>
		<div class="info">
			<a href="http://www.foundationscamps.org/"><h3>Foundations Summer Camps</h3></a>
			<p>
				A course information and registration website for a local STEM education summer camp
			</p>
			<div class="at-a-glance-push"></div>
			<div class="at-a-glance">
				<ul class="technologies">
					<li><img src="/assets/img/technologies/php.svg" /><span>PHP</span></li>
					<li><img src="/assets/img/technologies/mysql.svg" /><span>MySQL</span></li>
				</ul>
				<span class="dates">2013</span>
			</div>
		</div>
	</div>
	<!-- <ul class="timeline">
        <div class="vertical-line"></div>
        <li>
            <div class="bubble">Current</div>
            <a href="http://tuxedit.com"><img src="assets/img/logos/tux.png" /></a>
            <div class="info">
                <a href="http://tuxedit.com"><h3>Tux</h3></a>
                <p>
                    Tux is an open-source collaborative markup language editor.
                    I originally designed it to render what I'm calling "Markdown+Math" -- a markup language using GFM for formatting and LaTeX for math --
                    but I've designed it with extensibility in mind so it can support other markup languages in the future.
                    It supports live rendering, so you can type markup syntax in the left pane and see a live preview in the right.
                    I'm currently working on adding Google-Docs-style collaboration features.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">Current</div>
            <img src="assets/img/logos/accord.png" />
            <div class="info">
                <h3>Accord</h3>
                <p>
                    Accord is a web application designed for <a href="http://harvest-community.org">Harvest Community Church</a>
                    that assists people in selecting proper budget codes for various expenses and in submitting expense requisitions.
                    It was designed to accommodate Harvest's unique budgeting system.
                    The project uses the Python <a href="http://www.pylonsproject.org/">Pyramid</a>
                    framework with a MySQL database on the backend and <a href="https://angularjs.org/">AngularJS</a>
                    on the frontend.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">Current</div>
            <a href="http://emp.xyz/"><img src="assets/img/logos/emp.png" /></a>
            <div class="info">
                <a href="http://emp.xyz/"><h3>Empassage/EMP</h3></a>
                <p>
                    Empassage is a distributed, P2P messaging service implementing end-to-end elliptic-curve cryptography.
                    Unlike email, conversations conducted over Empassage cannot be eavesdropped on or compromised by a third party, and the sender of a message cannot be spoofed.
                    Empassage also includes delivery receipt support and a proof-of-work system that largely prevents spam.
                    The application core is written in <a href="http://golang.org">Go</a>, and includes a web interface built with <a href="https://angularjs.org/">AngularJS</a>.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">October 2014</div>
            <a href="http://illinois.navier.com"><img src="assets/img/logos/navier.png" /></a>
            <div class="info">
                <a href="http://illinois.navier.com"><h3>Illinois.com Landing Page</h3></a>
                <p>
                    Under <a href="http://navier.com">Navier, Inc.</a>, I designed a landing page to garner anticipation for the launch of <a href="http://illinois.com">Illinois.com</a>.
                    The site is a simple single-page project, with no backend component.
                    It was more of an exercise in graphic design than programming, in a sense, but I enjoyed it nonetheless.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2013-2014</div>
            <a href="http://anvilapp.io"><img src="assets/img/logos/anvil.png" /></a>
            <div class="info">
                <a href="http://anvilapp.io"><h3>Anvil</h3></a>
                <p>
                    Anvil is a tool enabling web developers to interact directly with customers in the concept and prototyping stages of feature development.
                    (<a href="https://www.youtube.com/watch?v=eJ6gOkFeRkg">Watch the pitch.</a>)
                    Developers can select any git branch with semi-functional code, and it will be deployed at a separate subdomain in a clone of the production environment;
                    users can then view this prototype, before it's ready for production, and work directly with developers (or customer service) to provide feedback.
                    This beats the alternative of making a release, gathering feedback, realizing customers don't understand how a feature is supposed to work,
                    making another release, collecting feedback again, and so on (a long, iterative cycle).
                    Anvil comprises several discrete components running on different servers, all communicating over REST APIs.
                    The backend components are mostly written in Python and use MySQL, Docker, and Xen.
                    The frontend is built using <a href="https://angularjs.org/">AngularJS</a>.
                    Unfortunately, Anvil was not earning enough revenue, and is no longer actively developed or running in production.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2013-2014</div>
            <a href="https://imsastudentproductions.com/"><img src="assets/img/logos/isp.png" /></a>
            <div class="info">
                <a href="https://imsastudentproductions.com/"><h3>IMSA Student Productions</h3></a>
                <p>
                    I founded IMSA Student Productions (ISP) at my high school, the Illinois Mathematics and Science Academy, as a student-led, professionally-advised extracurricular for those interested in media production.
                    (<a href="https://imsastudentproductions.com/about">Read more here.</a>)
                    After building a team, I built this website to manage team operations and publish the media we produced.
                    Students and staff submit requests for ISP coverage, and ISP members can volunteer for the events they would like to cover.
                    After covering events, members upload their media and post a reflection on their experience; IMSA staff then approve or reject the media for publication.
                    The site also integrates with the school's LDAP directory for easy student authentication and has an SMTP component for sending notifications.
                    The backend is built using the Python <a href="http://www.pylonsproject.org/">Pyramid</a> framework and a MySQL database;
                    the frontend is built using the <a href="http://foundation.zurb.com/">Foundation CSS framework</a>.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">Early 2014</div>
            <img src="assets/img/logos/navier.png" />
            <div class="info">
                <h3>Bitcoin Payment Systems</h3>
                <p>
                    Under <a href="http://navier.com">Navier, Inc.</a>, I built and launched Bitcoin payment systems for the
                    <a href="https://btc.suntimes.com/">Chicago Sun-Times</a> and <a href="https://bitcoin.polisforcongress.com/">Congressman Jared Polis</a>.
                    Bitcoin is a peer-to-peer cryptographically-secure currency system, allowing users to easily send money over the Internet;
                    these systems allow the Sun-Times and Jared Polis to easily accept Bitcoin for payments and donations, respectively.
                    The backends are built with <a href="http://www.pylonsproject.org/">Pyramid</a> and MySQL, and use <a href="https://www.coinbase.com/">Coinbase's</a> Merchant API.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">June 2013</div>
            <a href="http://www.foundationscamps.org/"><img src="assets/img/logos/foundations.png" /></a>
            <div class="info">
                <a href="http://www.foundationscamps.org/"><h3>Foundations Summer Camps</h3></a>
                <p>
                    A friend and I launched a summer program that provides free STEM education for local junior high and high school students.
                    I built a website that showcases our program, displays available classes, and allows students to enroll, enforcing maximum capacity limits.
                    The backend is running on a LEMP stack (Linux, nginx, MySQL, and PHP).
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2012</div>
            <img src="assets/img/logos/usci.png" />
            <div class="info">
                <h3>USCI</h3>
                <p>
                    The Unifying and Simplifying Client Interface (USCI; rhymes with "husky") brought together various IT services at the
                    <a href="https://www.imsa.edu/">Illinois Math and Science Academy</a> such as online grades, class CMS (Moodle), and campus printer management
                    (several of which had difficult-to-use interfaces, if any GUI at all) in a single user-friendly application.
                    The application was written in Java with Swing.
                    Unfortunately, due to time constraints, the project did not mature past a beta release.
                </p>
            </div>
        </li>
    </ul> -->
</div>
