<div class="section">
	<h2>Places I've <em>Taught</em></h2>
	<ul class="timeline">
        <div class="vertical-line"></div>
        <li>
            <div class="bubble">2016</div>
            <img src="assets/img/logos/imsa.png" />
            <div class="info">
                <h3>Illinois Math and Science Academy: Intersession 2016</h3>
                <p>
                    Each year, the Illinois Math and Science Academy (IMSA) offers week-long <a href="https://www.imsa.edu/academics/Intersession%202016">intersession classes</a> between the first and second semesters.
                    These courses enable students to get a taste of new subject areas without taking full-length classes or learn about niche topics that no courses are offered in.
                </p>
                <p>
                	I will be teaching a 2016 intersession covering lighting in photography. From the course description:
                </p>
                <p class="block-quote">
                    Intentional lighting lies at the core of any good
                    photography; lighting controls the mood and atmosphere of
                    a photo and can fill a scene with texture and life.  This
                    intersession will teach you how to intentionally use
                    lighting to create captivating photos communicating
                    emotion and a story for viewers.  It will be taught in a
                    studio using professional lighting equipment, but the
                    concepts can be applied to any situation.  Portrait,
                    product, and food photography will be covered; high-speed,
                    action, and sports photography may be discussed as time
                    permits.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2012-2014</div>
            <img src="assets/img/logos/aca.png" />
            <div class="info">
                <h3>IMSA Advanced Computing Association</h3>
                <p>
                    The Advanced Computing Association (ACA) is an extracurricular at the <a href="https://www.imsa.edu">Illinois Math and Science Academy</a>
                    that provides education in advanced areas of technology and supplies students with equipment and infrastructure to pursue independent ventures.
                    Regular workshops cover topics including programming languages, networking, and server administration, and "hack nights" provide students
                    with the opportunity to work on developing their own projects with experienced members available to assist.
                    A production server rack hosts student projects and supporting services, and a development rack hosts experimental services and allows students to experience a complete rebuild and reconfiguration (from scratch) of a "production" network.
                </p>
                <p>
                    I served as ACA's president from 2012-2014, building most of its production infrastructure from scratch and spearheading student workshops. I continue to occasionally stop by for a hack night or workshop.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2014</div>
            <img src="assets/img/logos/imsa.png" />
            <div class="info">
                <h3>Illinois Math and Science Academy: Intersession 2014</h3>
                <p>
                	I taught a 2014 intersession covering the fundamentals of music production. From the course description:
                </p>
                <p class="block-quote">
                    Music is one of the most powerful creative means of
                    expression, and holds the power to cheer, inspire, and
                    unite masses of people. Music videos extend this capacity,
                    adding another dimension of creativity. This intersession
                    course covers recording and mastering techniques,
                    storyboarding, editing and production, camera
                    fundamentals, live direction, and more. By the end of the
                    course, students will record and produce their own music
                    video to showcase to friends and family.
                </p>
                <p>
                	Students independently conceived and produced their own music videos in small groups. Check out <a href="https://imsastudentproductions.com/projects/intersession-2014-behind-the-music-video">what they came up with</a>!
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2013</div>
            <a href="http://www.foundationscamps.org"><img src="assets/img/logos/foundations.png" /></a>
            <div class="info">
                <a href="http://www.foundationscamps.org"><h3>Foundations Summer Camps</h3></a>
                <p>
                    Foundations offered free summer classes for local students
                    covering various STEM (science, technology, engineering,
                    and math) topics, including cellular biology, immunology,
                    advanced chemistry, calculus, and programming. We sought
                    to select course material that is often not covered in
                    standard high school curriculums, yet is accessible to
                    motivated junior high and high school students. We also
                    attempted to not merely teach material, but to also ignite
                    a sense of awe and curiosity in students, such that they
                    might pursue more advanced material independently.
                </p>
                <p>
                    Courses began with my brothers' friends, but expanded
                    through word of mouth, and soon classes filled with new
                    faces. Watching seventh-grade students come to understand
                    how exactly a human body works when it "gets the flu" and
                    how water enables life-giving chemical reactions was a
                    wonderful experience, and one that I hope to have again in
                    the near future.
                </p>
            </div>
        </li>
        <li>
            <div class="bubble">2013</div>
            <img src="assets/img/logos/imsa.png" />
            <div class="info">
                <h3>Illinois Math and Science Academy: Intersession 2013</h3>
                <p>
                	I taught a 2013 intersession covering Android programming with Java. From the course description:
                </p>
                <p class="block-quote">
                    This intersession will introduce students to creating
                    Android applications with Java. Students will use Eclipse
                    to develop basic applications utilizing buttons, scroll
                    lists, dialog boxes, and event handlers. Advanced students
                    will have the opportunity to develop more complex
                    applications, such as a media player, custom web browser,
                    or simple game.
                </p>
                <p>
                    This course was especially challenging for me to teach, as
                    I was the only instructor and had no prior formal teaching
                    experience. In addition, the skill levels of the students
                    varied wildly, with some having years of programming
                    experience and others hardly knowing what Java is. Despite
                    that, I learned as I taught, and at the end of the class,
                    the students successfully built an app that sets off an
                    alarm if you haven't touched the phone in the last 20
                    minutes, preventing you from falling asleep while studying
                    on the late nights :)
                </p>
            </div>
        </li>
    </ul>
</div>
