#pane1 {

    @extend .pane;

    // How far down the page the "page tear" should happen
    $split-location: 65%;
    // Minimum height so the text in the bottom half doesn't get obscured
    $bottom-minimum-height: 18rem;

    .top {
        width: 100%;
        height: $split-location;
        @media (max-height: 850px) {
            // The bottom half is more important. Make space for it if screen gets too small
            height: calc(100% - #{$bottom-minimum-height}) !important;  // http://stackoverflow.com/a/20236515
        }
        background: #fff url('/assets/img/subtle_grunge.png') repeat;

        img {
            height: 80%;
            @extend .vertical-center;
            top: 45%; /* Not 50%, because the paper tear in the bottom pane takes up some space */
        }
    }

    .bottom {
        position: relative;
        width: 100%;
        height: 100% - $split-location;
        @media (max-height: 850px) {
            // Don't let the bottom get too small, or the text will be obscured
            height: $bottom-minimum-height !important;
        }
        background: #1b1b1b;

        .paper-tear {
            position: absolute;
            top: -45px;
            background: url('../img/paper-tear.png') repeat-x;
            background-size: 477.85388128px 50px;
            width: 100%;
            height: 50px;
        }

        .text {
            @extend .vertical-center;
            color: #fff;
        }

        h1 {
            margin: 0;
            font-size: 5.5em;
        }

        p {
            margin: 10px;
            font-size: 2em;
            font-weight: $light;
        }
    }

}
