#software-pane {

    $timeline-color: #ccc;
    $timeline-dot-radius: 4px;
    $date-bubble-width: 10em;
    $bubble-color: #fff;
    $bubble-border-color: #aaa;
    $bubble-border-thickness: 1px;
    $bubble-vertical-padding: .25em;
    $bubble-arrow-width: 20px;
    $timeline-entry-vertical-padding: 15px;

    $img-width: 15em;

    background: url('/assets/img/tex/agsquare.png') repeat;

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        position: relative;
    }

    .vertical-line {
        position: absolute;
        left: $date-bubble-width;
        height: 100%;
        border-left: 1px solid $timeline-color;
    }

    // Dot on line
    li::before {
        content: ' ';
        background: $timeline-color;
        border-radius: 100px;
        height: $timeline-dot-radius * 2;
        width: $timeline-dot-radius * 2;
        position: absolute;
        // Move the dot over to the end of the bubble; to center it on the line, subtract the radius
        left: calc(#{$date-bubble-width} - #{$timeline-dot-radius});
        // Vertical center
        top: 50%;
    }

    li {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin-top: $timeline-entry-vertical-padding;
        margin-bottom: $timeline-entry-vertical-padding;

        .bubble {
            position: absolute;
            // vertically center text with bubble. 0.5em is half the height of the text
            top: calc(50% - #{0.5em + $bubble-vertical-padding});
            right: calc(100% - #{$date-bubble-width});
            margin-right: $bubble-arrow-width; // Make room for the right arrow
            background: $bubble-color;
            padding: $bubble-vertical-padding 1em $bubble-vertical-padding 1em;
            @include border-radius(3px);
            border: $bubble-border-thickness solid $bubble-border-color;
        }

        // The ::before and ::after pseudo elements are used to create the
        // right arrow pointing to the dot. ::before is used to draw the
        // border -- it's slightly bigger, underneath ::after, and is the
        // border color. ::after is on top and is the bubble color.

        .bubble::before, .bubble::after {
            position: absolute;
            left: 100%;
            width: 0;
            height: 0;
            content: " ";
        }

        .bubble::before {
            $size: $bubble-arrow-width / 2 + $bubble-border-thickness;
            top: calc(50% - #{$size});
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;
            border-left: $size solid $bubble-border-color;
        }

        .bubble::after {
            $size: $bubble-arrow-width / 2;
            top: calc(50% - #{$size});
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;
            border-left: $size solid $bubble-color;
        }

        img {
            float: left;
            margin-left: $date-bubble-width + 1em;
            margin-right: 2em;
            width: $img-width;
        }

        .info {
            float: left;
            text-align: left;
            width: calc(100% - #{$date-bubble-width} - #{$img-width} - 3em); // Width - bubble - img - img padding
        }
    }
}
