#pane1 {
    $paper-tear-height: 50px;

    padding: 0;
    height: calc(100vh + #{$paper-tear-height});
    background: #fff url('/assets/img/tex/subtle_grunge.png') repeat;
    color: #333;
    text-align: center;
    position: relative;

    .centerpiece {
        width: auto;
        @extend .vertical-center;
        top: 40%; /* Not 50%, because the navbar takes up some space */

        @include breakpoint($mobile) {
            img { height: 15em; }
        }

        @include breakpoint($tablet) {
            img { height: 30em; }
        }

    }

    h1 {
        margin: 0;
        font-size: 5.5em;
    }

    .down-chevron {
        margin: 0;
        color: #999;
        font-size: 3em;
        display: block;
        position: absolute;
        bottom: 15px + $paper-tear-height;
        // horizontal center
        width: 100%;
        left: 0;
    }

    .paper-tear {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('../img/tex/paper-tear.png') repeat-x;
        background-size: 2093/219*$paper-tear-height $paper-tear-height;
        width: 100%;
        height: $paper-tear-height;
        margin: 0;
    }

}
