#education-pane {

    background: url('/assets/img/tex/shattered-purple.png') repeat;
    color: #fff;
    $link-color: #FFDF00;

    a { color: $link-color; }
    a:hover { color: lighten($link-color, 10%); }

    .well {
        $padding: 1em;

        display: inline-block;
        background: rgba(200, 200, 200, .3);
        margin: 0.5em 1em 0.5em 1em;
        @include border-radius(6px);

        img {
            width: 80%;
            margin: $padding;
        }

        .info {
            margin: $padding;
            text-align: left;
        }

        h2 { text-align: center }

        @include breakpoint($tablet) {
            $img-width: 15em;
            $img-margin-right: 1.5em;

            img {
                width: $img-width;
                float: left;
                margin-right: $img-margin-right;
            }

            .info {
                margin-left: 0;
                float: left;
                width: calc(100% - #{$padding + $img-width + $img-margin-right + $padding});
            }

            h2 { text-align: left }
        }
    }
}
