body {
    margin: 0;
}

.pane {
    $vertical-padding: 3em;
    text-align: center;
    width: 100%;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    min-height: calc(100vh - 2 * #{$vertical-padding});

    > * {
        display: inline-block;
        width: 1000px;
    }
}

.vertical-center {
    position: relative;
    top: 50%;
    @include translateY(-50%);
}
