body {
    font-family: $base-font-family, sans-serif;
    font-weight: $base-font-weight;
    color: $base-font-color;
}

h1, h2, h3 {
    padding-top: $header-margin-bottom;
    padding-bottom: $header-margin-top;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
}

h1 em {
    font-weight: $bold;
    font-style: normal;
}

h2 em, h3 em {
    font-weight: $regular;
    font-style: normal;
}

h1 { font-size: 3.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

a, a:visited {
    color: $link-color;
}
a:hover {
    color: darken($link-color, 10%);
}

.block-quote {
    display: inline-block;
    position: relative;
    padding-top: 0.5em;
    padding-left: 1.5em;
}

.block-quote::after {
    content: ' ';
    position: absolute;
    top: 0.5em;
    bottom: 0;
    left: 0;
    border-left: 3px solid #ccc;
}
